# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Test / Coverage
.pytest_cache/
.coverage
htmlcov/

# Build
dist/
build/
*.egg-info/

# MyPy
.mypy_cache/

# Ruff
.ruff_cache/